{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
        <fieldset class="border form-group ml-4 mr-4">
            <legend class="border-bottom mb-4 pt-4">Login</legend>
            <form method="POST">{% csrf_token %}
                {{ form|crispy }}
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Sign In</button>
            </div>
        </form>
        </fieldset>
    </div>
    <small class="ml-4 mr-4">
        To create an account ? <a href="#">Sign Up</a>
    </small><br>
    <a  class="ml-4" href="{% url 'home' %}">Back</a>
{% endblock %}